@attribute [PageInfo(id_modulo = "4")]

@page "/Presentacion/Configuracion/Perfilamiento/Rol/ConsultaRoles"

@using TaskSe.Model.Models
@using TaskSe.Services.Interfaces.Configuracion.Perfilamiento
@using TaskSe.Model.Models.Configuracion.Perfilamiento

@inject IRolService _rolService
@inject ILogger<ConsultaRoles> _logger

<div class="row">
    <div class="col-sm-6">
        <div class="page-title-box">
            <h4>Roles:</h4>
            <ol class="breadcrumb m-0">
                <li class="breadcrumb-item"><a href="javascript: void(0);">Configuración</a></li>
                <li class="breadcrumb-item"><a href="javascript: void(0);">Perfilamiento</a></li>
                <li class="breadcrumb-item"><a href="javascript: void(0);">Roles</a></li>



            </ol>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Roles</h4>
                <p class="card-title-desc"></p>

                <button type="button" class="btn btn-primary waves-effect waves-light" @onclick="DetalleRol">Agregar Rol</button>
                <br />
                <br />

                @if (_isLoading)
                {
                    <_Loading></_Loading>
                }
                else
                {
                    <RadzenDataGridApp @ref="grid"  LogicalFilterOperator="LogicalFilterOperator.Or" AllowPaging="true" AllowFiltering="true" PageSize="10" AllowColumnResize="true"  Data="@roles" TItem="Rol" IsLoading="@_isLoading">
                        <Columns>
                            <RadzenDataGridColumn TItem="Rol" Title="" Width="40px" TextAlign="TextAlign.Center" Sortable="false">
                                <Template Context="data">
                                    <RadzenButton ButtonStyle="ButtonStyle.Primary" Icon="edit" Class="m-1" Click=@(() => EditarRol(data.id_rol)) />
                                </Template>
                            </RadzenDataGridColumn>
                            <RadzenDataGridColumn TItem="Rol" Property="nombre_rol" Title="Nombre"></RadzenDataGridColumn>
                            <RadzenDataGridColumn TItem="Rol" Property="estado" Title="Estado" Type="typeof(IEnumerable<string>)"
                                              FilterValue="@selectedEstadoIds" FilterOperator="FilterOperator.Contains" LogicalFilterOperator="LogicalFilterOperator.Or">
                                <FilterTemplate>
                                    <RadzenDropDown @bind-Value=@selectedEstadoIds Style="width:100%;"
                                                Change=@OnselectedEstadoIdsChange Data="@(estados)" AllowClear="true" ValueProperty="id_estado" TextProperty="descripcion" Multiple="true" />
                                </FilterTemplate>
                                <Template Context="data">
                                    @(estados.Where(e => e.id_estado == data.estado).FirstOrDefault().descripcion)
                                </Template>
                            </RadzenDataGridColumn>


                        </Columns>
                    </RadzenDataGridApp>
                }
            </div>
        </div>
    </div>
</div>


@code {
    private bool _isLoading = true;

    private IEnumerable<Rol> roles;
    private IEnumerable<Estado> estados = Estado.estados;
    private IEnumerable<string> selectedEstadoIds;
    private RadzenDataGridApp<Rol> grid;

    private void EditarRol(string id_rol)
    {
        _navigationManager.NavigateTo("/Presentacion/Configuracion/Perfilamiento/Rol/ActualizarRol/" + id_rol);
    }

    private void DetalleRol()
    {
        _navigationManager.NavigateTo("/Presentacion/Configuracion/Perfilamiento/Rol/InsertarRol");
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        try
        {
            if (firstRender)
            {
                _isLoading = true;
                StateHasChanged();

                await LoadData();

                _isLoading = false;
                StateHasChanged();
            }
        }
        catch (Exception exe)
        {
            _logger.LogError(exe, $"Error al consultar roles");
            await _jsRuntime.SweetAlertUsual("Error", "Error interno del servidor", TipoMensajeSweetAlert.error);
        }

    }

    private async Task LoadData()
    {
        roles = await _rolService.getRoles();
    }

    void OnselectedEstadoIdsChange(object value)
    {
        if (selectedEstadoIds != null && !selectedEstadoIds.Any())
        {
            selectedEstadoIds = null;
        }
    }
}
